{% extends "base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div class="inputs-container">
        <label for="post_title">Title:</label><input class="input-fields" type="text" name="post_title"><br>
        <label for="post_content">Content:</label><textarea class="input-fields" rows="5" columns="40" name="post_content"></textarea><br>
        <label for="post_image">Upload Image: </label><input class="input-fields" type="file" id="upload" name="post_image"><br>
    </div>
        <input class="button" type="submit" action="/additem" value="Post"> 
</form>
{% endblock %}