{% extends "base.html" %}
{% block login %}
{% if user_id %}
<p class="login_box">You are logged in as: {{user_name}}
<a class="button" href="/logout">Logout</a></p>
{% else %}
<p><a class="button" href="/login">Login</a></p>
{% endif %}
{% endblock %}
{% block content %}

<ul>
{% for posts of results %}

<li>
    {{posts[2]}}<br>{{posts[3]}}<br>
    <!-- {% if img%}<img class="POST IMAGE" src="{{POST IMAGE}}">{% endif %}<br> -->
    {% if user_id == poster_id %}<a class ="edit_link" href="/edit_post?id={{POST_ID}}"> Edit </a><br>{% endif %}
</li>
{% endfor %}
</ul>
{% if user_id %}
<a class="button" href="/addpost"></a>
{% endif %}
{% endblock %}