{% extends "base.html" %}
{% block login %}
{% if user_id %}
<p class="login_box">You are logged in as: {{user_name}}
<a class="button" href="/logout">Logout</a></p>
{% else %}
<p><a class="button" href="/login">Login</a></p><p><a class="button" href="/signup">Sign Up</a></p>
{% endif %}
{% endblock %}
{% block content %}
{% if user_id %}
<a class="button" href="/addpost">New Post</a>
{% endif %}
<ul>
{% for posts in results %}

<li>
    <h3>{{posts[3]}}</h3><br><p>{{posts[2]}}</p><br>
    
    {% if user_id == posts[1] %}<a class="edit_link" href="/edit_post?id={{posts[0]}}"> Edit </a><br>{% endif %}
    <p class="username">Created by: {{posts[4]}}</p>
</li>
{% endfor %}
</ul>
{% endblock %}